<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTRATO</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

    <style type="text/css">

        body {
            margin: 10px;
            font-family: Arial !important;
            font-size: 12px !important;
            text-align: justify;
        }

        header h4 {
            font-size: 13px;
            font-weight: bold;
        }

        header p {

        }

        div.firma {
            color: black;
            border-top: 1px solid black;
            margin-top: 50px;
        }

        div.firmas {
            height: 150px;
            text-align: center;
            margin-bottom: 20px;
        }

        .contactos {
            padding: 5px;
        }

    </style>
</head>
<body>

<div style="float: right;">
    <img src="http://localhost/lsb/img/logo.png"/>
</div>

<header>
    <h4>ARRENDADOR:</h4>
    <p>
        {{ arrendador }}
    </p>
    <h4>ARRENDATARIO:</h4>
    <p>
        {{ arrendatario }}
    </p>
    <h4>DIRECCIÓN DEL INMUEBLE:</h4>
    <p>
        B/{{ inmueble.barrio }}, {{ direccion_inmueble }}
    </p>
    <h4>VALOR DEL CANON DE ARRENDAMIENTO:</h4>
    <p>
        {{ precio_canon }}
    </p>
    <h4>TERMINO DE DURACIÓN:</h4>
    <p>
        {{ termino_contrato }} MESES
    </p>
    <h4>FECHA DE INICIO:</h4>
    <p>
        {{ fecha_inicio }}
    </p>
    <h4>FECHA DE VENCIMIENTO:</h4>
    <p>
        {{ fecha_vencimiento }}
    </p>
    <h4>SERVICIOS PÚBLICOS A CARGO DEL ARRENDADOR:</h4>
    <p>
        {{ servicios_arrendador }}
    </p>
    <h4>SERVICIOS PÚBLICOS A CARGO DEL ARRENDATARIO:</h4>
    <p>
        {{ servicios_arrendatario }}
    </p>
</header>

<br />
<b>La relación contractual se regirá por las siguientes cláusulas:</b>
<br />
<br />

<section>

    <p>
        <b>PRIMERA:</b>
        OBJETO DEL CONTRATO. Conste por el presente documento que el ARRENDADOR entrega a título de arrendamiento al
        ARRENDATARIO el inmueble ubicado <b>{{ inmueble.direccion }},
        {% if inmueble.direccion_adicional %}
        {{ inmueble.direccion_adicional }}
        {% endif %}
        B/{{ inmueble.barrio }}</b>
        PARAGRAFO – Los linderos serán enunciados en hoja anexa que harán parte de presente contrato.
    </p>

    <p>
        <b>SEGUNDA:</b>
        RECIBO Y ESTADO. El arrendatario manifiesta recibirlo a su entera satisfacción, obligándose a restituirlo en el
        mismo buen estado en que lo recibe y de acuerdo con el inventario que las partes firman por separado y que hace
        parte del presente contrato, en el cual se determinan los servicios, cosas y usos conexos y adicionales y en el
        mismo estado los devolverán al arrendador a la terminación del arrendamiento o cuando éste haya de cesar por
        alguna de las causales aquí previstas, salvo el deterioro proveniente del tiempo y su uso legítimo.
    </p>

    <p>
        <b>TERCERA:</b>
        TERMINO DEL CONTRATO DE ARRENDAMIENTO. Se fija en <b>{{ termino_contrato }} MESES</b> que en consecuencia, vence el <b>{{ fecha_vencimiento }}</b>,
        éste término podrá prorrogarse por periodos anuales mediante acuerdo de las partes contratantes:
        PARAGRAFO PRIMERO: Si el arrendatario desea obtener la prórroga deberá solicitarla por escrito al arrendador con tres (3)
        meses de anticipación, por lo menos, al vencimiento del plazo o de alguna de sus prorrogas, así mismo si al
        vencimiento del plazo o de alguna de sus prórrogas el arrendatario quisiera hacer cesar el arrendamiento y
        restituir el inmueble, dará aviso escrito de su decisión a el arrendador con no menos de tres (3) meses de
        anticipación.
        PARAGRAFO SEGUNDO: Si el arrendatario sin previo aviso desocupara el inmueble antes del
        vencimiento del término o de la prórroga vigente, pagara al arrendador el valor de tres (3) cánones mensuales, a
        título de indemnización, sin perjuicio de las demás obligaciones accesorias a su cargo.
        PARAGRAFO TERCERO: Queda claramente estipulado, para todos los efectos legales, que el pago de la renta de cualquier espacio de tiempo
        subsiguiente a la terminación del contrato sólo corresponde a dicho espacio de tiempo y no implica la renovación
        del mismo. Así, el recibo de esa renta por parte del arrendador no debe entenderse como aquiescencia a la
        prórroga o renovación.
        PARAGRAFO CUARTO: En todo caso, para que se entienda pactada una prórroga cualquiera, son
        necesarios el acuerdo sobre ella y las condiciones en que se celebra, de todo lo cual debe quedar constancia
        expresa, escrita y firmado por las partes contratantes o al pie o a continuación de este contrato o en otro
        documento separado.
        PARAGRAFO QUINTO: Para todos los efectos, los arrendatarios convienen desde ahora en que es
        el arrendador a quien asiste el derecho de decidir si accede o no a cualquier prórroga solicitada por los
        arrendatarios.
    </p>
    <p>
        <b>CUARTA:</b>
        PRECIO DEL CANON. Se fija el canon de arrendamiento, en la suma de <b>{{ precio_canon }}</b>,
        mensuales pagaderos anticipadamente los Treinta (30) de cada período contractual o mes durante el término de
        vigencia de este contrato, sus prorrogas o renovaciones expresas.
    </p>

    <p>
        <b>QUINTA:</b>
        OPORTUNIDAD Y SITIO PARA EL PAGO. El arrendatario se obliga a pagar al arrendador por el goce del inmueble y
        demás elementos que figuran en el inventario el precio o canon acordado en la cláusula tercera del presente
        contrato en la <b>Carrera 53A Nº 6A-28 del Barrio Nueva Tequendama</b> o consignado en la
        <b>Cuenta de Ahorros N° 75757072041 de Bancolombia</b> a nombre de
        <b>Laura Marcela López Serrano</b>; debiendo en este último caso hacer llegar
        copia de la respectiva consignación a la mencionada dirección, dentro de los cinco (05) primeros días de cada
        período contractual o enviar copia del documento de consignación escaneado al correo
        <b>lopezserranobienes@yahoo.com</b>, de lo contrario, se entenderá como no efectuado el pago.
    </p>
    <p>
        <b>SEXTA:</b> REAJUSTE. El canon de arrendamiento se reajustara cada doce (12) meses de ejecución del contrato,
        en los términos establecidos en la Ley 820 de 2003, valga decir, en una proporción igual al cien por ciento
        (100%) del incremento que haya tenido el índice de precios al consumidor (IPC) en el año calendario
        inmediatamente anterior a aquel en el cual deba efectuarse el reajuste del canon y/o según el acuerdo entre las
        partes. El reajuste deberá efectuarse automáticamente a partir de la fecha en que venza el contrato, en caso de
        prorroga tácita o expresa sin requerimiento alguno por parte del arrendador.
        PARAGRAFO – Para efectos de este acuerdo se entiende que el índice de precios al consumidor es un hecho notorio y de público conocimiento, que no
        requiere prueba especial.
    </p>
    <p>
        <b>SEPTIMA:</b>
        OBLIGACIONES DEL ARRENDATARIO. Son obligaciones del arrendatario las siguientes,
        <ol>
            <li>pagar cumplidamente el precio del canon convenido dentro del plazo estipulado en el contrato.</li>
            <li>cuidar el inmueble y las cosas recibidas en arrendamiento;</li>
            <li>cumplir las normas consagradas en todos los reglamentos internos, autoridades de</li>
            <li>policía y los que exija el gobierno en protección de todos los vecinos.</li>
        </ol>
    </p>
    <p>
        <b>OCTAVA:</b>
        DESTINO DEL INMUEBLE. Debe el arrendatario destinar el inmueble exclusivamente para vivienda familiar de
        <b>un (1) adulto;</b> el arrendatario no podrá darle ningún otro destino o uso.
        PARAGRAFO – La violación de esta cláusula da derecho al arrendador a exigir la restitución del inmueble sin necesidad de requerimientos judiciales o
        privados, a los cuales renuncia el arrendatario.
    </p>
    <p>
        <b>NOVENA:</b> PROHIBICIONES A LOS ARRENDATARIOS. Los arrendatarios no podrán:
        <ol>
            <li>Subarrendar el inmueble, salvo que para ello obtengan autorización por escrito del arrendador, ni podrán
                ceder este contrato a ningún título.
            </li>
            <li>Ejecutar obras o construcciones que varíen la estructura o pongan en peligro la estabilidad o solidez del
                inmueble.
            </li>
            <li>Hacer mejoras o adiciones de cualquier clase en el inmueble salvo que para ello obtenga autorización previa,
                expresa por parte del arrendador.
            </li>
            <li>Adquirir ningún tipo de Crédito con cobro en la factura de los servicios públicos del inmueble objeto de
                éste contrato.
            </li>
            <li>Realizar actos o ejecutar hechos, que en alguna forma perjudiquen el crédito moral y material del inmueble o
                del lugar o perturben la tranquilidad de los moradores o vecinos de ese mismo lugar. PARAGRAFO - Si el
                arrendatario hicieren mejoras o adiciones sin autorización escrita del el arrendador ellas no podrán ser
                retiradas y quedarán de propiedad del dueño del inmueble, sin que por ellos el arrendatario pueda exigir
                pago o indemnización alguna. Salvo que el arrendador acceda a que tales adiciones o mejoras sean separadas y
                el arrendatario retire y se lleve los materiales, cuando con ello no se cause ningún detrimento al inmueble
                arrendado. Así el arrendatario renuncia expresamente al derecho de retención del inmueble derivado de
                mejoras, adiciones o reparaciones realizadas por ellos. De todos modos, el hecho de hacer tales mejoras o
                adiciones sin la referida autorización, será motivo suficiente para que el arrendador dé por terminado
                unilateralmente el contrato y exija la restitución del inmueble.
            </li>
        </ol>
    </p>
    <p>
        <b>DECIMA:</b>
        REPARACIONES LOCATIVAS Y NECESARIAS. Son de cargo del arrendatario las reparaciones locativas de las que trata
        la ley (Art. 1998, 1999, 2028, 2030 del C.C), y las relativas a obstrucciones de cañerías locales, daños de
        pisos, muros y cielos rasos, reposición de vidrios rotos, conservación y reposición de cerraduras y llaves de
        las puertas, arreglos de grifos o salidas del acueducto, daños de instalaciones sanitarias y eléctricas,
        reparación de goteras, etc. Y el arreglo o sustitución necesaria de los daños que sobrevengan por descuido, por
        culpa del arrendatario, por mal uso, por demoras en realizar esas reparaciones o por deficiencia de estas.
    </p>
    <p>
        <b>DECIMO PRIMERA:</b>
        SERVICIOS PUBLICOS. El pago de los servicios de acueducto, gas domiciliario, internet, televisión por cable,
        energía eléctrica, recolección de basuras y demás servicios es de cargo del arrendatario hasta la fecha de
        restitución del inmueble arrendado. Si el arrendatario dejara de pagar esos servicios y tuviere que cubrirlos el
        arrendador, aquel y su codeudor quedaran obligados a rembolsar a este las sumas correspondientes y llegado el
        caso de Acción Judicial el arrendatario y su codeudor aceptan desde ahora que será título ejecutivo suficiente
        el presente contrato acompañado de las cuentas de cobro de esos servicios o de los consecuentes recibos de pago;
        si este ha sido efectuado por el arrendador (ley 820 de 2003 Art. 14). PARAGRAFO - El arrendatario responderá
        exclusivamente ante las empresas municipales por cualquier violación de su reglamento y el arrendador no asume
        responsabilidad por este concepto ni por la insuficiencia de dicho servicio. En ningún caso el arrendador será
        responsable por el pago de servicios, conexiones o acometidas que fueren instaladas en el inmueble y contratadas
        directamente por el arrendatario, salvo pacto expreso de las partes.
    </p>
    <p>
        <b>DECIMO SEGUNDA:</b>
        PREAVISO. El arrendador podrá dar por terminado unilateralmente el contrato de arrendamiento durante cualquiera
        de sus prorrogas mediante aviso dado al arrendatario con tres meses de anticipación y el pago de la
        indemnización que prevé el Art. 22 numeral 7 de la ley 820 de 2003, el preaviso se entiende surtido, enviando
        por correo certificado una comunicación escrita al arrendatario.
    </p>
    <p>
        <b>DECIMO TERCERA:</b>
        TERMINACION AUTOMATICA DEL CONTRATO. El hecho de no pagar al arrendador el precio del canon de arrendamiento de
        un mes cualquiera en la fecha indicada en la cláusula cuarta, que la ley o este contrato les impone, producirá
        la terminación automática de este y dará derecho al arrendador para pedir al arrendatario la desocupación y
        entrega inmediata del inmueble, en todos los casos para ejercitar cualquier acción judicial o administrativa
        será prueba suficiente del incumplimiento por parte del arrendatario la simple información que haga el
        arrendador del hecho o acto omiso que constituya el incumplimiento o violación del contrato.
    </p>
    <p>
        <b>DECIMO CUARTA:</b>
        TERMINACION UNILATERAL DEL CONTRATO. El arrendador podrá dar por terminado unilateralmente el contrato en los
        siguientes eventos:
        <ol>
            <li>La no cancelación por parte del arrendatario de los cánones y los reajustes dentro del término estipulado en
                el contrato.
            </li>
            <li>La no cancelación de los servicios públicos, el subarriendo total o parcial del inmueble.</li>
            <li>La cesión del contrato o del goce del inmueble sin expresa autorización del arrendador.</li>
            <li>El cambio de destino del inmueble sin expresa autorización del arrendador.</li>
            <li>La incursión reiterada del arrendatario y/o alguno de los ocupantes del inmueble en procederes que afecten
                la tranquilidad ciudadana de los vecinos.
            </li>
            <li>La destinación del inmueble para actos delictivos o que impliquen contravención comprobada ante las
                autoridades de policía.
            </li>
            <li>La realización de mejoras o cambios al inmueble sin expresa autorización del arrendador.</li>
            <li>La violación por parte del arrendatario o alguno de los ocupantes del inmueble de las normas del respectivo
                reglamento de propiedad horizontal cuando se trate de viviendas sometidas a este régimen.
            </li>
        </ol>
    </p>
    <p>
        <b>DECIMO QUINTA:</b>
        VISITA AL INMUEBLE. El arrendador directamente o persona autorizada por él, podrá visitar el inmueble materia
        del arrendamiento cuando lo estime conveniente a efectos de comprobar si el arrendatario hace uso debido del
        inmueble y emplea con la conservación de éste el cuidado debido.
    </p>
    <p>
        <b>DECIMO SEXTA:</b>
        CESION DE DERECHOS. El arrendatario acepta desde ahora incondicionalmente toda transferencia o cesión que el
        arrendador haga de este contrato en todo o en parte, a favor de terceros.
    </p>
    <p>
        <b>DECIMO SEPTIMA:</b>
        VENTA DEL INMUEBLE. El arrendador no tendrá ninguna responsabilidad si por la venta de la propiedad materia del
        arrendamiento el presente contrato se da por terminado.
    </p>
    <p>
        <b>DECIMO OCTAVA:</b>
        ACCIONES LEGALES Y PENA POR INCUMPLIMIENTO. Si el incumplimiento o violación de cualquiera de las obligaciones
        del arrendatario diera lugar a Acciones Judiciales, este se compromete a pagar al arrendador a título de pena el
        valor de tres (3) cánones mensuales de arrendamiento por cada una de tales actuaciones sin menoscabo del pago de
        las rentas pendientes y de gastos e indemnización de perjuicios todo lo cual podrá demandarlo simultáneamente y
        de inmediato el arrendador por la vía ejecutiva si fuera el caso y a ello se somete el arrendatario y sus
        codeudores solidariamente sin necesidad de requerimientos judiciales o privados.
    </p>
    <p>
        <b>DECIMO NOVENA:</b>
        COSTAS JUDICIALES. En caso de que el arrendatario diera lugar a acciones judiciales o administrativas serán de
        su cargo los costos de tales acciones incluidos los honorarios del abogado que intervenga en la gestión a nombre
        del arrendador.
    </p>
    <p>
        <b>VIGESIMA:</b>
        SOLIDARIDAD. Para garantizar el cumplimiento de cada una y todas las obligaciones que por este contrato y por la
        ley contraen a favor del arrendador, el arrendatario, además de comprometer su responsabilidad penal y
        solidaria, presenta como su codeudor solidario al
        <b>
        {% if cd1 %}
            SEÑOR/A {{ cd1.nombre }}
            {{ cd1.tipo_identificacion }}
            {{ cd1.identificacion }}
            Expedida en {{ cd1.lugar_expedicion_identificacion }};
        {% endif %}
        {% if cd2 %}
            SEÑOR/A {{ cd2.nombre }}
            {{ cd2.tipo_identificacion }}
            {{ cd2.identificacion }}
            Expedida en {{ cd2.lugar_expedicion_identificacion }};
        {% endif %}
        {% if cd3 %}
            SEÑOR/A {{ cd3.nombre }}
            {{ cd3.tipo_identificacion }}
            {{ cd3.identificacion }}
            Expedida en {{ cd3.lugar_expedicion_identificacion }};
        {% endif %}
        </b>
        quienes en señal de aceptación y de que se obligan como tal, firman el presente contrato y declaran que su compromiso se extiende a todas y cada una
        de las obligaciones que adquiere por medio del presente contrato, no solo durante el término que se estipula en
        la cláusula tercera y las prórrogas que se pacten entre el arrendador y el arrendatario sino por todo el tiempo
        que estos ocupen el inmueble hasta su restitución al arrendador.
    </p>
    <p>
        <b>VIGESIMO PRIMERA:</b>
        GASTOS. Los gastos que cause este instrumento serán de cargo del arrendatario.
    </p>
    <p>
        <b>VIGESIMO SEGUNDA:</b>
        AUTORIZACION. La parte arrendataria autoriza expresamente a la parte arrendadora, a consultar ampliamente,
        informar a terceros y/o a ser reportados a la base de datos de la lonja de propiedad raíz de Cali o a cualquier
        base de datos existente, la información sobre el manejo de las obligaciones pecuniarias y créditos comerciales
        relacionados con los inmuebles y otorgados durante la vigencia del contrato como al momento de su terminación.
    </p>
    <p>
        <b>VIGESIMO TERCERA:</b>
        ABANDONO DEL INMUEBLE. Al suscribir este contrato la parte arrendataria faculta expresamente a la parte
        arrendadora para ingresar en el inmueble y recuperar su tenencia con el solo requisito de la presencia de dos
        (2) testigos, en procura de evitar el deterioro o desmantelamiento del mismo; siempre que por cualquier
        circunstancia y sin previo aviso por parte del arrendatario y sin la correspondiente cancelación del canon de
        arrendamiento, permanezca abandonado y/o deshabitado por un término de un (01) mes, y que la exposición al
        riesgo sea tal que amenace la integridad física del inmueble o la seguridad del conjunto o vecindario según el
        caso.
    </p>
    <p>
        <b>VIGESIMO CUARTA:</b>
        PAZ Y SALVOS. El arrendador hace entrega del inmueble a paz y salvo, por concepto de servicios públicos
        instalados en el inmueble.
    </p>
    <p>
        <b>VIGESIMO QUINTA:</b>
        PAGO DE SERVICIOS PUBLICOS. Con la cancelación del canon de arrendamiento deberá exhibirse al arrendador los
        respectivos recibos de los servicios de acueducto y energía cancelados.
    </p>
    <p>
        <b>VIGÉSIMO SEXTA:</b>
        DENUNCIA DEL CONTRATO. El arrendador no será solidario en el pago de las facturas de servicios públicos
        domiciliarios y el inmueble dejará de estar afecto a las obligaciones del pago de éstas, por lo tanto, se
        adelantará el trámite ante las empresas de servicios públicos para realizar la respectiva denuncia del contrato
        de arrendamiento, dando cumplimiento al artículo 15 de la Ley 820 de 2003, con el fin de garantizar el pago de
        las facturas correspondientes. PARÁGRAFO – Para efectos de lo anterior, se exige al arrendatario la presentación
        de las garantías a favor de cada una de las empresas de servicios domiciliarios.
    </p>
    <p>
        <b>VIGESIMO SÉPTIMA:</b>
        ESTADO DE RESTITUCION DEL INMUEBLE. El apartamento se entrega en buenas condiciones de pintura y debe
        restituirse en iguales condiciones (pintado).
    </p>
    <p>
        <b>VIGESIMO OCTAVA:</b>
        DIRECCION PARA NOTIFICACIONES. Las partes contratantes recibirán notificaciones en las direcciones a
        continuación indicadas:
    </p>

    <div class="col-xs-6 contactos">
        <b>
            {{ ar.nombre }}<br />
            {{ ar.direccion }}, {{ ar.ciudad }}, {{ ar.departamento }}, {{ ar.pais }}<br />
            MOVIL: {{ ar.telefono_movil }}
        </b>
    </div>
    <div class="col-xs-6 contactos">
        <b>
            {{ ca.nombre }}<br />
            {{ ca.direccion }}, {{ ca.ciudad }}, {{ ca.departamento }}, {{ ca.pais }}<br />
            MOVIL: {{ ca.telefono_movil }}
        </b>
    </div>
    {% if cd1 %}
    <div class="col-xs-6 contactos">
        <b>
            {{ cd1.nombre }}<br />
            {{ cd1.direccion }}, {{ cd1.ciudad }}, {{ cd1.departamento }}, {{ cd1.pais }}<br />
            MOVIL: {{ cd1.telefono_movil }}
        </b>
    </div>
    {% endif %}
    {% if cd2 %}
    <div class="col-xs-6 contactos">
        <b>
            {{ cd2.nombre }}<br />
            {{ cd2.direccion }}, {{ cd2.ciudad }}, {{ cd2.departamento }}, {{ cd2.pais }}<br />
            MOVIL: {{ cd2.telefono_movil }}
        </b>
    </div>
    {% endif %}
    {% if cd3 %}
    <div class="col-xs-6 contactos">
        <b>
            {{ cd3.nombre }}<br />
            {{ cd3.direccion }}, {{ cd3.ciudad }}, {{ cd3.departamento }}, {{ cd3.pais }}<br />
            MOVIL: {{ cd3.telefono_movil }}
        </b>
    </div>
    {% endif %}

    <br style="clear: both;" />

</section>

<section style="padding-top: 20px;">
    <div>
        <div class="firmas col-xs-6">
            <p><b>PARTE ARRENDADORA:</b></p>
            <div class="firma"></div>
            <b>{{ arrendador | safe }}</b><br/>
        </div>

        <div class="firmas col-xs-6">
            <p><b>PARTE ARRENDATARIA:</b></p>
            <div class="firma"></div>
            <b>{{ arrendatario | safe }}</b><br/>
        </div>
    </div>
    <div>
        {% if codeudor1 %}

            <div class="firmas col-xs-6">
                <p><b>CODEUDOR 1:</b></p>
                <div class="firma"></div>
                <b>{{ codeudor1 | safe }}</b><br/>
            </div>

        {% endif %}

        {% if codeudor2 %}

            <div class="firmas col-xs-6">
                <p><b>CODEUDOR 2:</b></p>
                <div class="firma"></div>
                <b>{{ codeudor2 | safe }}</b><br/>
            </div>

        {% endif %}
    </div>
    <div>
        {% if codeudor3 %}

            <div class="firmas col-xs-12">
                <p><b>CODEUDOR 3:</b></p>
                <div class="firma"></div>
                <b>{{ codeudor3 | safe }}</b><br/>
            </div>

        {% endif %}
    </div>
</section>

</body>
</html>